<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EziBuy</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EziBuy.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EziBuy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand site-name" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop<span id="icon"></span>
                        </a>
                        @{
                            Html.RenderAction("CategoryNavBarList", "Home");
                        }
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products<span id="icon"></span>
                                </a>
                                <ul class="dropdown-menu site-bar" aria-labelledby="navbarDropdown">
                                    <li>@Html.ActionLink("Product list", "DisplayProductList", "Product", new { area = "" }, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Products Detail", "DisplayProductDescriptionList", "ProductDescription", new { area = "" }, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Products Images", "DisplayProductImages", "Image", new { area = "" }, new { @class = "dropdown-item" })</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Users", "UsersDetail", "Admin", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>

                            <li>@Html.ActionLink("Categories", "DisplayProductCategory", "ProductCategory", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>
                            <li>@Html.ActionLink("Carousel", "DisplayCarouselList", "Carousel", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>
                        }
                        <li>@Html.ActionLink("Profile", "UserInformation", "UserProfile", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>
                        <li>@Html.ActionLink("Logout", "Logout", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>
                    }
                </ul>

                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>
                        <li>@Html.ActionLink("Register", "Registration", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand site-bar" }))</li>
                    </ul>
                }
            </div>
        </div>
        @*<form class="form-inline" action="#">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" />
                <button class="btn btn-success" type="submit">Search</button>
            </form>*@
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<div class="footer">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown').hover(function () {
                $('.dropdown-toggle', this).trigger('click');
            });
        });
        $(".navbar-toggle").click(function () {
            document.getElementById("icon").classList.toggle("caret");
        });
    </script>
</body>
</html>