<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EziBuy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("About", "About", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {

                            <li>@Html.ActionLink("User List", "UsersDetail", "Admin", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Category List", "DisplayProductCategory", "ProductCategory", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Product list", "DisplayProductList", "Product", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Carousel list", "DisplayCarouselList", "Carousel", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("Images", "DisplayProductImages", "Image", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li>@Html.ActionLink("ProductDetail", "DisplayProductDescriptionList", "ProductDescription", new { area = "" }, new { @class = "navbar-brand" })</li>
                        }
                        <li>@Html.ActionLink("Profile", "UserInformation", "UserProfile", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }
                </ul>

                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Register Now", "Registration", "RegistrationAndLogin", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                }
            </div>
        </div>
        @*<form class="form-inline" action="#">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" />
                <button class="btn btn-success" type="submit">Search</button>
            </form>*@
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
   

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>