@model EziBuy.Models.ProductDetail

<h3>@Model.ProductName</h3>
@(new HtmlString(HttpUtility.HtmlDecode(Model.ProductDescription)))


@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.Label("Price :")
        @Html.DisplayFor(Model => Model.Price)
    </div>

    <div class="form-group">
        @Html.Label("Size :")
        @Html.DropDownListFor(model=>model.Size, new List<SelectListItem>
            {
                 new SelectListItem { Text = "XS", Value = "XS" },
                 new SelectListItem { Text = "S", Value = "S" },
                 new SelectListItem { Text = "M", Value = "M" },
                 new SelectListItem { Text = "L", Value = "L" },
                 new SelectListItem { Text = "XL", Value = "XL" }
            }, "Select Size", new { @class = "form-control", @placeholder="M" })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Quantity :")

    </div>

    <div class="form-group">
        @Html.Label("Price :")

    </div>

}